<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>

</head>
<body>

<!-- 헤더 -->
<div class="container">
    <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <nav class="navbar navbar-light">
            <div class="container">
                <a class="navbar-brand" th:href="@{/main}">
                    <img src="../images/assem_logo_background.png" alt="" width="62.58" height="40">
                </a>
            </div>
        </nav>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/course}" class="nav-link px-4 link-secondary">코스정보</a></li>
            <li><a href="#" class="nav-link px-4 link-dark">네비게이션</a></li>
            <li><a href="./board.html" class="nav-link px-4 link-dark">게시판</a></li>
            <li><a href="./Mypage.html" class="nav-link px-4 link-dark">마이페이지</a></li>
            <!-- <li><a href="#" class="nav-link px-2 link-dark">About</a></li> -->
        </ul>

        <div class="col-md-3 text-end">
            <button onclick="location.href='./login.html'" type="button" class="btn btn-outline-primary me-2">Login</button>
            <button onclick="location.href='./members/add.html'" type="button" class="btn btn-primary">Sign-up</button>
        </div>
    </header>
</div>
<!-- 헤더 -->


<!-- 지도를 표시할 div 입니다 -->
<div id="map" style="width:400px;height:350px;"></div>
<p>
    <button onclick="setCenter()">지도 중심좌표 이동시키기</button>
    <button onclick="panTo()">지도 중심좌표 부드럽게 이동시키기</button>
</p>
<p>
<!--    <input type="checkbox" id="chkUseDistrict" onclick="setOverlayMapTypeId()" /> 지적편집도 정보 보기-->
<!--    <input type="checkbox" id="chkTerrain" onclick="setOverlayMapTypeId()" /> 지형정보 보기-->
<!--    <input type="checkbox" id="chkTraffic" onclick="setOverlayMapTypeId()" /> 교통정보 보기-->
    <input type="checkbox" id="chkBicycle" onclick="setOverlayMapTypeId()" /> 자전거도로 정보 보기
</p>

<!--&lt;!&ndash; 클릭 좌표 출력&ndash;&gt;-->
<!--<p><em>지도를 클릭해주세요!</em></p>-->
<!--<div id="clickLatlng"></div>-->
<!--&lt;!&ndash; 클릭 좌표 출력&ndash;&gt;-->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2f9d52bfaf350fba25ec7e190ae0ee97"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
    map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
    function setCenter() {
        // 이동할 위도 경도 위치를 생성합니다 ==> 위치 지정.
        // 학교 앞 도로
        var moveLatLon = new kakao.maps.LatLng(37.8112,127.0715);

        // 지도 중심을 이동 시킵니다
        map.setCenter(moveLatLon);
    }

    function panTo() {
        // 이동할 위도 경도 위치를 생성합니다 ==> 부드러운 지정.
        // 선덕관 근처
        var moveLatLon = new kakao.maps.LatLng(37.8112, 127.0699);

        // 지도 중심을 부드럽게 이동시킵니다
        // 만약 이동할 거리가 지도 화면보다 크면 부드러운 효과 없이 이동합니다
        map.panTo(moveLatLon);
    }
/*------------------------------------*/
    // 지도 타입 정보를 가지고 있을 객체입니다
    // map.addOverlayMapTypeId 함수로 추가된 지도 타입은
    // 가장 나중에 추가된 지도 타입이 가장 앞에 표시됩니다
    // 이 예제에서는 지도 타입을 추가할 때 지적편집도, 지형정보, 교통정보, 자전거도로 정보 순으로 추가하므로
    // 자전거 도로 정보가 가장 앞에 표시됩니다
    var mapTypes = {
        terrain : kakao.maps.MapTypeId.TERRAIN,
        traffic :  kakao.maps.MapTypeId.TRAFFIC,
        bicycle : kakao.maps.MapTypeId.BICYCLE,
        useDistrict : kakao.maps.MapTypeId.USE_DISTRICT
    };

    // 체크 박스를 선택하면 호출되는 함수입니다
    function setOverlayMapTypeId() {
        var chkBicycle = document.getElementById('chkBicycle');
        // var chkTerrain = document.getElementById('chkTerrain'),
        //     chkTraffic = document.getElementById('chkTraffic'),
        //     chkBicycle = document.getElementById('chkBicycle'),
        //     chkUseDistrict = document.getElementById('chkUseDistrict');

        // 지도 타입을 제거합니다
        for (var type in mapTypes) {
            map.removeOverlayMapTypeId(mapTypes[type]);
        }

        // // 지적편집도정보 체크박스가 체크되어있으면 지도에 지적편집도정보 지도타입을 추가합니다
        // if (chkUseDistrict.checked) {
        //     map.addOverlayMapTypeId(mapTypes.useDistrict);
        // }
        //
        // // 지형정보 체크박스가 체크되어있으면 지도에 지형정보 지도타입을 추가합니다
        // if (chkTerrain.checked) {
        //     map.addOverlayMapTypeId(mapTypes.terrain);
        // }
        //
        // // 교통정보 체크박스가 체크되어있으면 지도에 교통정보 지도타입을 추가합니다
        // if (chkTraffic.checked) {
        //     map.addOverlayMapTypeId(mapTypes.traffic);
        // }

        // 자전거도로정보 체크박스가 체크되어있으면 지도에 자전거도로정보 지도타입을 추가합니다
        if (chkBicycle.checked) {
            map.addOverlayMapTypeId(mapTypes.bicycle);
        }

    }
    /*------------------------------------*/
    /*------------------------------------*/
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
/*    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
        message += '경도는 ' + latlng.getLng() + ' 입니다';

        var resultDiv = document.getElementById('result');
        resultDiv.innerHTML = message;

    });
    /!*------------------------------------*!/*/
    /*----------------------------------------*/
    // 지도를 클릭한 위치에 표출할 마커입니다
    var marker = new kakao.maps.Marker({
        // 지도 중심좌표에 마커를 생성합니다
        position: map.getCenter()
    });
    // 지도에 마커를 표시합니다
    marker.setMap(map);

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        // 마커 위치를 클릭한 위치로 옮깁니다
        marker.setPosition(latlng);

        var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
        message += '경도는 ' + latlng.getLng() + ' 입니다';

        var resultDiv = document.getElementById('clickLatlng');
        resultDiv.innerHTML = message;

    });
    /*----------------------------------------*/
    // 마커를 표시할 위치와 title 객체 배열입니다
    var positions = [
        {
            title: '선덕관',
            latlng: new kakao.maps.LatLng(37.8105289, 127.069488)
        },
        {
            title: '우당관',
            latlng: new kakao.maps.LatLng(37.8111231, 127.070363)
        },
        {
            title: '하나로마트',
            latlng: new kakao.maps.LatLng(37.801274, 127.072465)
        },
        {
            title: '고장산',
            latlng: new kakao.maps.LatLng(37.813423, 127.066027)
        },
        {
            title: '선돌공원',
            latlng: new kakao.maps.LatLng(37.821016, 127.082366)
        }
    ];
    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    for (var i = 0; i < positions.length; i ++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지
        });
    }
    /*----------------------------------------*/
</script>

</body>
</html>