<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel = "stylesheet" href= "../css/board_write.css">-->
    <link rel = "stylesheet" href= "css/board_write.css">

<!--    <link th:href="@{/css/board_write.css}" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="api/summernote-0.8.18-dist/summernote-lite.js"></script>
    <script src="api/summernote-0.8.18-dist/lang/summernote-ko-KR.js"></script>
    <link rel="stylesheet" href="api/summernote-0.8.18-dist/summernote-lite.css">

    <title>글 작성</title>
</head>
<body>

    <div class="editor-contents">
        <form action="/boardwritepro" method="post">
            <div>
                <div id="title-box">
                    <input id="title" type="text" name="title"placeholder="제목을 입력해 주세요">
                </div>
                <div>
                    <select name="review-opt" style="margin-left: 15px">
                        <option value="자유게시판">자유게시판</option>
                        <option value="후기게시판">후기게시판</option>
                    </select>
                </div>
            </div>

            <!-- Editor -->
            <div class="container" id="container">
                <textarea class="content"name="content"></textarea>
            </div>

            <script>
            $('.summernote').summernote({
                height: 450,
                lang: "ko-KR",
            });
            $('#summernote').summernote('pasteHTML', data);
            </script>

            <!-- Submit -->
            <div id="btn-box">
                <div id="btn-box-center">
                    <button id="cancel-btn" type="button"onclick="location.href='board/board.html'" th:onclick="|location.href='@{/board}'|">취소</button>
                    <button id="submit-btn" type="submit">등록</button>
                </div>
            </div>

        </form>
    </div>
</body>
</html>