* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#tbl_left{
    /*margin-left: 10%;*/
    width: 1500px;
    height: 600px;
    display: flex;
}
#tbl_left > div:first-child{
    width: 300px;
}
#tbl_region{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#course_button td{
    border: 1px solid black;
}
#course_button tr:not(:first-child) td {
    border-top: 0;
}
#course_button span{
    display: block;
    text-align: center;
}
#course_button label{
    width: 100%;
    height: 100%;
    flex-direction: column;
}
#course_button button{
    background: 0;
    border: 0;
    width: 100%;
}
#search_course{
    width: 100%;
}
#search_course_list{
    margin-left: 10%;
    width: 280px;
    height: 280px;
}
#search_course_list > div {
    width: 100%;
    height: 100%;
}

#search_course_list table {
    width: 100%;
    height: 100%;
    font-size: 20px;
}
#map{
    margin-left: 50px;
    float: right;
    width: 1121px;
    height: 600px;
}
#footer{
    /*margin-left: 10%;*/
    width: 1500px;
    height: 100%;
}
#course_list td{
    border: 1px solid black;
    width: 1000px;
    height: 50px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}