<!DOCTYPE html>
<html>

<head>
    <title>로그인</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<!--헤더-->

<body>
    <div class="banner">
        <!--로그인창 로고 누르면 메인페이지로 감-->
        <nav class="login-logo">
            <a href="main.html"><img src="..\images\login_logo_background.png" width="150" height="100" /></a>
        </nav>
    </div>
    <div class="login-form">
        <!--로그인 폼 아이디 비번이랑 제출부분-->
        <form action="login.html" th:action th:object="${login}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}"th:text="${err}">전체 오류 메시지</p>
            </div>
            <div>
                <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error" name="email" class="text-field" placeholder="아이디">
                <div class="field-error" th:error="*{loginId}"></div>
            </div>
            <div>
                <input type="password" id="password" th:field="*{password}" name="password" class="text-field" placeholder="비밀번호">
                <div class="field-error" th:error="*{password}"></div>
            </div>
            <button type="submit" class="submit-btn">로그인</button>
            <button type="button"onclick="location.href='board/board.html'" th:onclick="|location.href='@{/board}'|">취소</button>
        </form>


<!--        <div class="links">-->
<!--            &lt;!&ndash;비번 찾는곳&ndash;&gt;-->
<!--            <a href="#">비밀번호를 잊어버리셨나요?</a>-->
<!--        </div>-->
    </div>
</body>

</html>